:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-header,
ion-footer {
  flex-shrink: 0;
}

ion-content {
  flex-grow: 1;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}
