<!-- src/app/pages/product-detail/product-detail.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{ product?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <ion-card>
    <img [src]="product.images[0]" alt="{{ product.title }}">
    <ion-card-header>
      <ion-card-title>{{ product.title }}</ion-card-title>
      <ion-card-subtitle>{{ product.brand }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ product.description }}</p>
      <p>Price: {{ product.price | currency }}</p>
      <p>Discount: {{ product.discountPercentage }}%</p>
      <p>Rating: {{ product.rating }}</p>
      <p>Stock: {{ product.stock }}</p>

      <ion-button expand="full" (click)="addToCart(product)">Add to Cart</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
